.vscode/
jumpbox
phonon
phonon.wxs
phonon.wixobj
release/win/wix/Phonon Client/
phonon.exe
phonon.msi
phonon.wixpdb
release/win/wix/phonon.wixobj
localCerts/
apdu.log

androidSDK/
release/MacOS/Phonon.app/Contents/MacOS/phonon
phonon.dmg
phonon_arm64
phonon_x86_64
release/MacOS/Phonon.app/Contents/MacOS/phonon_arm64
release/MacOS/Phonon.app/Contents/MacOS/phonon_x86_64

# Build directories
node_modules
build