.vscode/
jumpbox
phonon
phonon.exe
localCerts/
apdu.log
gui/frontend/build/*
androidSDK/
release/MacOS/Phonon.app/Contents/MacOS/phonon
phonon.dmg
phonon_arm64
phonon_x86_64
release/MacOS/Phonon.app/Contents/MacOS/phonon_arm64
release/MacOS/Phonon.app/Contents/MacOS/phonon_x86_64
