name: CI
on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Go environment
        uses: actions/setup-go@v2.1.3
        with:
          # The Go version to download (if necessary) and use. Supports semver spec and ranges.
          go-version: 1.19.0

      - name: Install go stringer
        run: go get golang.org/x/tools/cmd/stringer@latest
      - name: Install Prereqs
        run: |
            sudo apt-get -y install libpcsclite-dev libgl1-mesa-dev xorg-dev
      - name: build
        run: make build
